<section class="base clearfix">
	
  <div class="head clearfix">
  
    <i (click)="goBack()" class="icon icon-left-arrow active"></i>
    <h2>Curtain Raisers</h2>
    <i class="icon searchIcon icon-search"></i>
    
  </div>
  <div class="menuBar clearfix">
    <div class="top clearfix">
      <i class="humbergerMenu icon-humbergermenu"></i>
      <span>abc</span>
      <i class="filterIcon icon-filter active"></i>
    </div>
    
    <div class="filterBlock clearfix">
    
      <div class="filterOption clearfix">
      <div class="box clearfix">
        <div class="iconCircle active clearfix">
          <i class="icon clearfix icon-veg iconActive"></i>
        </div>
        <em class="active">Vegetarian</em>
      </div>
      <div class="box clearfix">
        <div class="iconCircle clearfix">
          <i class="icon clearfix icon-non-veg"></i>
        </div>
        <em>Non-Vegetarian</em>
      </div>
      <div class="box clearfix">
        <div class="iconCircle clearfix">
          <i class="icon clearfix icon-vegan"></i>
        </div>
        <em>Vegan</em>
      </div>
      <div class="box clearfix">
        <div class="iconCircle clearfix">
          <i class="icon clearfix icon-allergent"></i>
        </div>
        <em>Allergies</em>
      </div>
    </div>
      <div class="buttonBlock clearfix">
      <button class="clear clearfix">Clear</button>
      <button class="apply clearfix">Apply</button>
      </div>
      <div class="itemListBlock clearfix">
    <div class="itemBar clearfix">
      <label>
        <input id="item1" class="checkbox-custom" name="item" type="checkbox">
        <span for="item1" class="checkbox-custom-label"></span>
        <a href="#">Mushrooms</a>
      </label>
    </div>
    <div class="itemBar clearfix">
      <label>
        <input id="item2" class="checkbox-custom" name="item" type="checkbox">
        <span for="item2" class="checkbox-custom-label"></span>
        <a href="#">Mushrooms</a>
      </label>
    </div>
    <div class="itemBar clearfix">
      <label>
        <input id="item3" class="checkbox-custom" name="item" type="checkbox">
        <span for="item3" class="checkbox-custom-label"></span>
        <a href="#">Onions</a>
      </label>
    </div>
    <div class="itemBar clearfix">
      <label>
        <input id="item4" class="checkbox-custom" name="item" type="checkbox">
        <span for="item4" class="checkbox-custom-label"></span>
        <a href="#">Mushrooms</a>
      </label>
    </div>
    
    <div class="itemBar clearfix">
      <label>
        <input id="item5" class="checkbox-custom" name="item" type="checkbox">
        <span for="item5" class="checkbox-custom-label"></span>
        <a href="#">Mushrooms</a>
      </label>
    </div>
    
    <div class="itemBar clearfix">
      <label>
        <input id="item6" class="checkbox-custom" name="item" type="checkbox">
        <span for="item6" class="checkbox-custom-label"></span>
        <a href="#">Mushrooms</a>
      </label>
    </div>
  </div>
      
    </div>
  </div>
  
  

</section>